img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1{
 text-align: center;
}

p{
 text-align: center;
 color: #b8baf2;
}

p1{
 text-align: center;
}

p2{
 text-align: center;
}

p3{
 text-align: center;
}

p4{
 text-align: center;
}

body{
  background-color: #c2aa6e;
}
